{
  "extends": "airbnb-base",
  "rules": {
    "import/extentions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ],
    "quotes": [
      1,
      "double"
    ],
    "no-console": "off",
    "operator-linebreak": "off"
  }
}